<%# EDIT MODAL %>
<div class="modal fade" id="editModal" aria-labelledby="editModalLabel" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header modal-title-colored">
                <h5 class="modal-title"><span class="material-icons-outlined material-icons-adjusted">edit</span> Edit profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Edit form -->
            <form id="editForm" enctype="multipart/form-data" method="POST" action="/profile">

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Background Image</label>
                        <input class="form-control" type="file" id="formFileBG" name="bg">
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Icon Image</label>
                        <input class="form-control" type="file" id="formFileIcon" name="icon">
                    </div>
                    <div class="mb-3">
                        <label for="nameInput" class="form-label">Name</label>
                        <input type="text" class="form-control" id="nameEdit" value="<%= profile.name %>" name="name" placeholder="What do you wanna be called?">
                    </div>
                    <div class="mb-3">
                        <label for="descriptionTextarea" class="form-label">Description</label>
                        <textarea class="form-control" id="descEdit" value="" name="desc" rows="3"><%= profile.desc %></textarea>
                        <script>
                        var new_desc = $('#descEdit').val().replace(/<br \/>/g, "");
                        $('#descEdit').val(new_desc);
                        </script>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-grey rounded mx-1" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-blue rounded mx-1" type="submit" id="submitEditButton">Save changes</button>
                </div>

        </form>

        </div>
    </div>
</div>