<div class="container-fluid">
    <div class="px-4 pt-3 pb-1 my-3">

        <div class="col-lg-6 mx-auto">

            <!-- Page title and img -->
            <div class="text-center">
                <a style="text-decoration: none; color: inherit;" href="/home">
                    <h1 class="display-5 fw-bold spaced-title no-decoration">C<span class="blue-box">H</span>ATBOX</h1>
                </a>
            </div>

        </div>
    </div>
</div>