<!-- STRUCTURE OF THE GENERATED CODE ON client script -->
<!--
<div class="card card-border border-top-0 action-highlight">
    <div class="row g-0 justify-content-left">
        <div class="col mx-auto icon-sidebar">
            <img src="img/catbox_favicon_bigger.png" class="img-fluid rounded-circle m-2 p-1 icon" alt="Cat icon">
        </div>
        <div class="col-10">
            <div class="card-body pr-3 pl-1">
                <div class="d-flex w-100 justify-content-between align-self-start">
                    <h5 class="card-title text-break">Card title</h5>
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                <p class="card-title text-break">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>
-->