<div class="container-fluid">
  <div class="px-4 py-3 my-3">
    <div class="col-xl-6 col-xxl-5 col-lg-7 col-md-8 mx-auto">
      <!-- Page title and img -->
      <div class="text-center">
        <h1 class="display-5 fw-bold spaced-title no-decoration">
          C<span class="blue-box">H</span>ATBOX
        </h1>
        <br />
        <h5 class="spaced-title fw-bolder border bg-white rounded p-1">
          <span class="blue-box">DEMO</span> USER:
        </h5>
      </div>

      <div class="row">
        <!-- UNREGISTERED USER -->
        <div class="col-sm-6 pt-5 text-center" id="anon-user">
          <img
            src="img/icons/icon_bigger.png"
            class="circular-icon mb-2 no-decoration"
            alt="default cat icon"
          />
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <a
                  id="anon-user-choose"
                  class="btn fs-5"
                  data-bs-toggle="collapse"
                  href="#collapseContinueAnon"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapseContinue"
                  ><i id="anon-check" class="far fa-square"></i> Anonymous</a
                >
              </h5>
              <div class="collapse" id="collapseContinueAnon">
                <h5 class="card-title">
                  <a href="/home" class="btn index-button">Continue</a>
                </h5>
              </div>
              <p class="card-text">
                You will be directed to a general homepage, where you can start
                posting messages anonymously. <br />If you're interested, you
                can register and log in to create your own account and customize
                it.
              </p>
            </div>
          </div>
        </div>

        <!-- REGISTERED + LOGGED IN USER -->
        <div class="col-sm-6 pt-5 text-center">
          <img
            src="img/loading.gif"
            class="circular-icon mb-2 no-decoration"
            id="random-user-icon"
            alt="user cat icon"
          />
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <a
                  id="reg-user-choose"
                  class="btn fs-5 collapsed"
                  data-bs-toggle="collapse"
                  href="#collapseContinueReg"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapseContinue"
                  ><i id="reg-check" class="far fa-square"></i> Registered</a
                >
              </h5>
              <div class="collapse" id="collapseContinueReg">
                <h5 class="card-title">
                  <a
                    href="/home"
                    id="reg-user-continue"
                    class="btn index-button"
                    >Continue</a
                  >
                </h5>
              </div>
              <p class="card-text">
                You will enter as a registered (logged in) user under assigned
                username and email. Feel free to post messages and log out
                anytime. <i>Refresh page for random shuffle</i>.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-3"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/shuffleRegUsers.js"></script>
