/* COLOR SCHEME */
:root {
  --main-bg-color: #e4e4e4;
  --framing-color: #c9c9c9;

  --idx-button-color: #88b0ec;
  --idx-button-color-border: #b6b3b3;
  --sidebar-bg-color: #9ec4ff;
  --txt-dark-color: rgb(75, 75, 75);
  --highlight-bg-color1: #f9f9f9;
  --hightlight-bg-color1-hover: #fdfdfd;
  --overlay-bg-color: rgba(201, 201, 201, 0.5);
  --txt-code-color: #4776bd;

  --main-button-bg-color: #6398e9;
  --main-button-bg-color-hover: #7aa8ec;
  --main-button-color-border: #4e7fcb;
  --main-button-color-font: white;

  --secondary-button-bg-color1: grey;
  --secondary-button-bg-color2: #000000;
  --secondary-button-bg-color2-hover: #3f3f3f;
  --secondary-button-framing: rgb(110, 110, 110);
  --secondary-button-framing-hover: rgb(146, 146, 146);

  --warning-bg-color: #ad1f57;
  --warning-bg-color-framing: #8d1344;
}

html,
body {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);
}

/* INDEX demo user page */
#anon-user-choose,
#reg-user-choose {
  background-color: inherit !important;
  text-decoration: none;
  display: block;
  font-weight: bold;
}
#anon-user-choose:hover,
#reg-user-choose:hover {
  background-color: var(--framing-color) !important;
}
.index-button {
  background-color: var(--idx-button-color);
  display: block;
  width: 100%;
  font-weight: bold;
  color: var(--main-button-color-font);
  letter-spacing: 4px;
  border-left: var(--idx-button-color-border) solid 2px;
  border-right: var(--idx-button-color-border) solid 2px;
}
.index-button:hover {
  background-color: var(--main-button-bg-color);
  color: var(--main-button-color-font);
  letter-spacing: 4px;
}

/* HOME & PROFILE features */
#circular {
  border-radius: 50%;
}
.circular-icon {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
img.circular-icon {
  border: var(--idx-button-color-border) solid 2px;
}

.icon {
  object-fit: cover;
  width: 90px;
  height: 90px;
  overflow: hidden;
}
@media (max-width: 690px) {
  .icon {
    width: 70px;
    height: 70px;
    padding: 2px;
  }
}
.icon-link:hover {
  cursor: pointer;
}

.icon-sidebar {
  display: flex;
  justify-content: center;
  -ms-flex: 0 0 108px;
  flex: 0 0 108px;
  background-color: var(--sidebar-bg-color);
}
@media (max-width: 690px) {
  .icon-sidebar {
    -ms-flex: 0 0 85px;
    flex: 0 0 85px;
  }
}

.icon-profile {
  object-fit: cover;
  position: relative;
  width: 130px;
  height: 130px;
  top: -93px;
  border: var(--main-button-bg-color) 2px;
  border-style: solid;
}
@media (max-width: 690px) {
  .icon-profile {
    width: 100px;
    height: 100px;
    top: -70px;
  }
}

.icon-profile-sidebar {
  height: 60px;
}
@media (max-width: 690px) {
  .icon-profile-sidebar {
    height: 50px;
  }
}

.img-preview {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.img-preview-one {
  height: 200px;
  width: auto;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img-preview,
  .img-preview-one {
    height: 150px;
  }
}
@media (max-width: 690px) {
  .img-preview,
  .img-preview-one {
    height: 100px;
  }
}

#overlay {
  background-color: transparent;
}

#editProfileButton,
#followProfileButton {
  border-radius: 25px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  font-size: medium;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
}
@media (max-width: 690px) {
  #editProfileButton,
  #followProfileButton {
    height: 30px;
  }
}
#editProfileButton:hover,
#followProfileButton:hover {
  background-color: var(--secondary-button-bg-color1);
}

.modal-title-colored {
  background-color: var(--sidebar-bg-color);
  color: var(--txt-dark-color);
}

.btn-outline-secondary {
  background-color: transparent;
}
.btn-outline-secondary:hover {
  background-color: var(--secondary-button-bg-color1);
}

.chat-link {
  color: var(--txt-dark-color);
  text-decoration: none;
}
.chat-link:hover {
  color: var(--main-button-color-border);
}

.btn-overlay {
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}

/* Navigation */
.btn-blue {
  border-radius: 25px;
  background-color: var(--main-button-bg-color);
  border: 3px solid var(--main-button-color-border);
  color: var(--main-button-color-font);
}
.btn-blue:hover {
  background-color: var(--main-button-bg-color-hover);
  color: var(--main-button-color-font);
}

.btn-grey {
  border-radius: 25px;
  background-color: var(--secondary-button-bg-color1);
  border: 3px solid var(--secondary-button-framing);
  color: var(--main-button-color-font);
}
.btn-grey:hover {
  background-color: var(--secondary-button-framing-hover);
  color: var(--main-button-color-font);
}
.navbar-nav {
  --bs-scroll-height: 100px !important;
  text-align: center !important;
}

/* Loading graphics */

#loading {
  position: relative;
  top: -20%;
}

#loadingIMG {
  width: 250px;
  height: 250px;
  position: relative;
}

/* Page Buttons */
#submitButton,
.loginButton {
  border-radius: 25px;
  background-color: var(--main-button-bg-color);
  border: 3px solid var(--main-button-color-border);
  color: var(--main-button-color-font);
  font-size: large;
}

#submitButton:hover,
.loginButton:hover {
  background-color: var(--main-button-bg-color-hover);
}

#submitButton[disabled] {
  background-color: var(--warning-bg-color);
  border: 3px solid var(--warning-bg-color-framing);
}

.regButton {
  border-radius: 25px;
  background-color: var(--secondary-button-bg-color2);
  border: 3px solid var(--secondary-button-bg-color2-hover);
  color: var(--main-button-color-font);
  font-size: large;
}

.regButton:hover {
  background-color: var(--secondary-button-bg-color2-hover);
  border: 3px solid var(--secondary-button-bg-color2);
  color: var(--main-button-color-font);
}

code {
  color: var(--txt-code-color);
  font-weight: bold;
}

/*
.form-control:focus {
    border-color: #d4862c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(224, 137, 6, 0.979);
  }*/

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.no-exists {
  opacity: 0%;
}

.bg-img {
  height: 12em;
  object-fit: cover;
}

.bg-blue {
  background-color: var(--main-button-bg-color);
}

.blue-box {
  color: var(--main-button-bg-color);
}

.bg-lightblue {
  background-color: var(--main-button-bg-color-hover);
}

.bg-lighterblue {
  background-color: var(--sidebar-bg-color);
}

.grey-box {
  color: var(--secondary-button-bg-color1);
}

.action-highlight:hover {
  background-color: var(--highlight-bg-color1);
}

.action-highlight2 {
  background-color: var(--highlight-bg-color1);
}
.action-highlight2:hover {
  background-color: var(--hightlight-bg-color1-hover);
}

.card-border {
  border-color: var(--framing-color) !important;
}

.spaced-title {
  letter-spacing: 8px;
  font-weight: 20;
}

.allChats {
  padding: 15px;
}

#loginModal,
#registerModal,
#editModal,
#overlay {
  background: var(--overlay-bg-color);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

/* Font awesome icons */
.fa-trash-alt:hover {
  cursor: pointer;
}
