<div class="container-fluid">
    <div class="px-4 py-3 my-3">

        <div class="col-lg-6 mx-auto">

            <!-- Page title and img -->
            <div class="text-center">
                <img class="d-block mx-auto mb-4 circular" src="img/logo.png" id="title-img" alt="Picture of an excited cat." width="150">
                <a style="text-decoration: none; color: inherit;" href="/home">
                    <h1 class="display-5 fw-bold spaced-title no-decoration">C<span class="blue-box">H</span>ATBOX</h1>
                </a>
            </div>

        </div>
    </div>
</div>