<div class="col-lg-7 col-md-8 col-xl-6 mx-auto">
  <!-- ********** CHAT MESSAGING FORM ********** -->
  <%- include('chat-form.ejs') %> <%- include('../loading.ejs') %>

  <!-- show saved chat messages -->
  <div class="allChats container"></div>
</div>

<div class="px-4 py-3 my-3"></div>

<script src="js/reqs/chatRequests.js"></script>
<script src="js/helpers.js"></script>
<script src="js/chat-listing.js"></script>
<script src="js/chat-form.js"></script>

<script>
  listAllChats();
</script>
