<!-- REGISTRATION FORM -->
<form class="needs-validation" id="registerForm" novalidate>
    <div class="mb-3">
    <div class="input-group">
        <span class="input-group-text material-icons" id="reg-addon-wrapping-username">person</span>
        <input type="text" class="form-control" placeholder="Username" id="regUsernameInput" name="username" aria-label="Username" aria-describedby="Username" required>
        <div id="regUsernameCheck" class="invalid-feedback">
            Missing username.
        </div>
    </div>
</div>
    <div class="mb-3">
        <div class="input-group">
            <span class="input-group-text material-icons" id="reg-addon-wrapping-email">alternate_email</span>
            <input type="email" class="form-control" placeholder="Email" id="regEmailInput" name="email" aria-label="Email" aria-describedby="Email" required>
            <div id="regEmailCheck" class="invalid-feedback">
                Missing / incorrect email.
            </div>
        </div>
    </div>
    <div class="mb-3">
    <div class="input-group">
        <span class="input-group-text material-icons" id="reg-addon-wrapping-password">lock</span>
        <input type="password" class="form-control" placeholder="Password" id="regPasswordInput" name="password" aria-label="Password" aria-describedby="Password" required>
        <div id="regPasswordCheck" class="invalid-feedback">
            Missing password.
        </div>
    </div>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
    <button class="btn regButton" type="submit" id="submitRegButton">Register</button>
    </div>
</form>
<!-- End of RF -->